<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>648055211218-vgcf8llnn47l98hjatlu5e2qfen91894.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648055211218-vgcf8llnn47l98hjatlu5e2qfen91894</string>
	<key>API_KEY</key>
	<string>AIzaSyD4l9vIbewT50JTAKJNt2KpXUZ2gXu0oac</string>
	<key>GCM_SENDER_ID</key>
	<string>648055211218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Bennett.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-58d25</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-58d25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648055211218:ios:49fdf384e6bc0822</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-58d25.firebaseio.com</string>
</dict>
</plist>